.newborns-section{
    padding-top: 6rem;
    padding-bottom: 2rem;
}

.baby-card{
    width: 100%;
    border: 2px solid #886101;
    border-radius: 10px;
}

.baby-card img{
    border-radius: 10px;
    height: 12rem;
}

.divider img{
    width: 100%;
}

.baby-text{
    border-radius: 10px;
    border: 2px solid goldenrod;
    height: 100%;
    background-color: #fff3cd;
    color: #896404;
    font: bolder;
    text-align: center;
    padding-top: 1rem;
}

.baby-row{
    margin-bottom: 1rem;
}