/* main design of page*/
.chirag-section{
    background: url("chiragwallpaper.jpg");
    background-position: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
    padding-top: 6rem;
    padding-bottom: 1rem;
    padding-left: 0rem;
    padding-right: 0rem;

    color: white;
    font-family: 'Righteous', cursive;
}

.chirag-name{
    padding-bottom: 2rem;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* middle item section and press photo*/
.item-section{
    background: url("chiragwallpapermiddle.jpg");
    background-position: auto;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.item-card {
    display: table;
    width: 100%;
    height: 110px;
    margin-bottom: 1rem;    
    border-radius: 10px;
    border: 3px solid white;
    background-color: goldenrod;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 18px;
    text-align: center;
    color: #2b0707;
}
  
.item-text {
    display: table-cell;
    vertical-align: middle;
}

.press-photo{
    border-radius: 10px;
    border: 3px solid goldenrod;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 1rem;
    width: 100%;
    height: 486px;
}

/* address info*/
.address-info{
    text-align: center;
    margin-top: 2rem;
}

.utiimage{
    margin-top: 0.5rem;
    max-height: 6rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profileimage{
    min-height: 15rem;
    height: 100%;
    max-height: 20rem;
    width: 100%;
    border-radius: 5px;
    border: 1px solid goldenrod;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 1rem;
}