.party-section{
    padding-top: 6rem;
}

.event-row{
    margin: 2rem 0rem;
}

.event-card{
    display: table;
    text-align: center;
    height: 6rem;
    width: 100%;
    padding: 0px 10px;
    margin-top: 10px; 
    border-radius: 20%;
    border: 1px solid #343a40 !important;
    background-color: goldenrod;
}

.event-title{
    display: table-cell;
    vertical-align: middle;
    font-family: 'Charmonman', cursive;
    color: #343a40;
    font-weight: 900;
    font-size: 1.3rem;
    text-align: center;
}

.event-hr{
    border: 1px goldenrod ridge;
}

.event-pics{
    height: 10rem;
    margin: 2rem 0rem;
}

.event-pics img{
    width: 100%;
    height: 100%;
    border: 2px solid goldenrod;
    border-radius: 3%;
}

.event-desc{
    font-family: 'Roboto Slab', serif;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: justify;
}